body {
    padding-top: 5rem;
    
}

footer  {
    padding-top: 20px;
}

.wrapper{
    background-color:rgb(229, 232, 253);
    border-radius: 5px;
    border-top: blue;
    border-top-style: solid;
    box-shadow: 5px 5px #888888;
    padding: 15px;
    height: 100%;
    max-width: 500px;
}

#pic{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#conts {
    display: grid;
    grid-template-columns: 50px 50px 100px auto;
    grid-template-rows: 50px auto 150px 30px;
    grid-gap: 5px;
    background-color:rgb(229, 232, 253);
    border-radius: 5px;
    border-top: blue;
    border-top-style: solid;
    box-shadow: 5px 5px #888888;
    padding: 5px;
    min-height: auto;
  }

#a1{
    grid-column: 1 ;
    grid-row: 1;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#b1{
    grid-column: 2 ;
    grid-row: 1;
    font-weight: bold;
    padding-top: 15px;
}

#a2pic{
    grid-column: 1 / 5;
    grid-row: 2;
    max-width: 100%;
    max-height: 100%;
    padding-top: 20px;

}

#a3{
    grid-column: 1 / 5 ;
    grid-row: 3;
}

#d4{
    grid-column: 4 ;
    grid-row: 4;
    text-align: right;
}

#a4{
    grid-column: 1;
    grid-row: 4;
    text-align: center;
    font-size: 25px;
}

#b4{
    grid-column: 2;
    grid-row: 4;
}

#ar{
    position: absolute;
    right: 100px;
    top: 100px;
}

.home{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 2; 
     
}

#left{
    width: auto;
    height: auto;
}
 
#right{
    background-color:rgb(229, 232, 253);
    border-radius: 5px;
    border-top: blue;
    border-top-style: solid;
    box-shadow: 5px 5px #888888;
    padding: 15px;
    height: 100%;
}